* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.container {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  max-width: 400px;
  height: 650px;
  margin: 10vh auto 0 auto;
  box-shadow: 70px 31px 71px 15px rgba(0, 0, 0, 0.43);
}
.display-container {
  text-align: right;
  height: 145px;
  padding-right: 20px;
  font-size: 40px;
  display: grid;
}
#display-after {
  font-size: 20px;
  margin-top: 70px;
}

.change-theme {
  position: absolute;
  margin: 20px;
  background-image: url(./icons/icons8-moon-and-stars-24.png);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.buttons {
  display: grid;
  padding: 10px;
  font-size: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 3px hsl(0, 0%, 8%), 0px 5px 0px 3px hsl(0, 0%, 8%),
    0px 20px 20px 3px #0003;
  color: #ffffff;
  padding-top: 20px;
  margin: 10px;
  height: 75px;
  border-radius: 20px;
  text-align: center;
}

.buttons > div:nth-child(1),
.buttons > div:nth-child(2),
.buttons > div:nth-child(3) {
  background-color: rgba(126, 126, 126, 0.5);
  box-shadow: 0px 0px 0px 2px hsl(0, 0%, 45%), 0px 5px 0px 2px hsl(0, 0%, 45%),
    0px 10px 10px 2px rgba(126, 126, 126, 0.5);
}
.buttons > div:nth-child(4),
.buttons > div:nth-child(8),
.buttons > div:nth-child(12),
.buttons > div:nth-child(16),
.buttons > div:nth-child(20) {
  background-color: rgba(226, 133, 45, 0.5);
  box-shadow: 0px 0px 0px 2px hsl(34, 69%, 57%),
    0px 5px 0px 2px hsl(34, 69%, 57%), 0px 10px 10px 2px rgba(226, 133, 45, 0.5);
}

.button {
  cursor: pointer;
  transition: all 0.06s ease-out;
  position: relative;
}

.button:active {
  top: 6px;
  color: white;
}
.button:active:before {
  top: 0;
}

.change {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(209, 209, 209, 0.700717787114846) 100%
  );
}
.icon-change {
  position: absolute;
  margin: 20px;
  background-image: url(./icons/icons8-smiling-sun-24.png);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

